cy-login-page {
  .list-ios{
    margin-bottom: 8px;
  }

  ion-label {
    width: 60px;
	  text-align: right;
	  padding-right: 8px;
    color: color($colors, primary)
  }
  .logo-wrap {
    padding: 3.5rem 0 3rem;
    text-align: center;
    img {
      width: 8rem;
    }
  }
  form {
    padding-bottom: .2rem;
  }

  .signup-btn{
    font-size:1.6rem;
    color: color($colors, primary);
    text-decoration: underline;
  }
}
