<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ionicframework.ionicapp404878" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>uuchat</name>
    <description>An chat app.</description>
    <author email="hi@ionicframework" href="http://ionicframework.com/">gibsonxion</author>
    <content src="index.html" />
    <allow-navigation href="*" />
    <allow-navigation href="http://192.168.1.104:8100" />
    <allow-navigation href="http://192.168.1.106:8100" />
    <access origin="*" />
    <access origin="cdvfile://*" />
    <access origin="file://*" />
    <allow-intent href="*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <preference name="AndroidPersistentFileLocation" value="Internal" />
    <preference name="AndroidPersistentFileLocation" value="Compatibility" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="16" />
    <preference name="BackupWebStorage" value="none" />
    <preference name="AutoHideSplashScreen" value="false" />
    <preference name="auto-hide-splash-screen" value="false" />
    <preference name="FadeSplashScreen" value="true" />
    <preference name="FadeSplashScreenDuration" value="300" />
    <preference name="SplashScreenDelay" value="8000" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <feature name="SplashScreen">
        <param name="android-package" value="org.apache.cordova.splashscreen.SplashScreen" />
    </feature>
    <feature name="StatusBar">
        <param name="ios-package" onload="true" value="CDVStatusBar" />
    </feature>
    <plugin name="cordova-plugin-splashscreen" spec="~2.0.0" />
    <plugin name="cordova-plugin-console" spec="~1.0.5" />
    <plugin name="cordova-plugin-statusbar" spec="~2.2.1" />
    <plugin name="ionic-plugin-keyboard" spec="~2.2.1" />
    <plugin name="cordova-plugin-device" spec="~1.1.4" />
    <plugin name="cordova-plugin-whitelist" spec="~1.3.1" />
    <plugin name="cordova-plugin-camera" spec="~2.3.1" />
    <plugin name="cordova-plugin-contacts" spec="~2.2.1" />
    <plugin name="cordova-plugin-vibration" spec="~2.1.3" />
    <plugin name="de.appplant.cordova.plugin.local-notification" spec="~0.8.4" />
    <plugin name="phonegap-plugin-barcodescanner" spec="~6.0.5" />
    <plugin name="cordova-plugin-crop" spec="~0.3.1" />
    <plugin name="cordova-plugin-media" spec="~2.4.1" />
    <plugin name="com.megster.cordova.FileChooser" spec="http://github.com/don/cordova-filechooser.git" />
    <plugin name="cordova-plugin-file-transfer" spec="~1.6.1" />
    <plugin name="com.synconset.imagepicker" spec="https://github.com/Telerik-Verified-Plugins/ImagePicker" />
    <plugin name="cordova-plugin-file" spec="~4.3.1" />
</widget>
