cy-verifymobile-page {
  ion-label {
    width: 65px;
    text-align: right;
    padding-right: 1px;
    color: color($colors, primary)
  }
  .tip {
    text-align: center;
	  margin-top:4.5rem;
    margin-bottom: 4rem;
  }
}
