cy-signup-complete-page {
  ion-label {
    width: 70px;
    color: color($colors, primary)
  }
  .tip {
      text-align: center;
      margin-top: 4.5rem;
      margin-bottom: 4rem;
  }
  .avatar-wrap {
    padding: 10px;
    text-align: center;
    img {
      width: 100px;
      height: 100px;
      border-radius: 5px;
    }
    .avatar-tip {
      font-size: 1.2rem;
      color: #999;
    }
  }
  ion-textarea {
    height: 80px;
  }
}
