<ion-header>

  <ion-navbar>
    <ion-title>详细资料</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <ion-item>
      <ion-thumbnail item-left>
        <!-- <img [src]="user.avatarSrc | avatarSrc" /> -->
        <cy-img [src]="user?.avatarSrc | avatarSrc" style="width:56px;" [zoom]="true"></cy-img>
      </ion-thumbnail>
      <h2>
        <span class="nickname">{{user?.nickname}}</span>
        <ion-icon name="male" color="primary" *ngIf="user?.gender===0"></ion-icon>
        <ion-icon name="female" color="fourthly" *ngIf="user?.gender===1"></ion-icon>
      </h2>
      <p class="username">用户名：{{user?.username}}</p>
    </ion-item>
  </ion-list>

  <div padding *ngIf="user">
    <button ion-button block round *ngIf="isFriend != true && user._id !== ownId" (click)="gotoFriendRequestPage()">添加好友</button>

    <button ion-button block round *ngIf="isFriend == true" (click)="gotoChatContentPage()">开始聊天</button>

  </div>
</ion-content>
