<ion-header>

  <ion-navbar>
    <ion-title>通讯录</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
	<ion-list>
		<button ion-item (click)="gotoFriendAddPage()">
			<ion-icon name="person-add" item-left></ion-icon>
			添加好友
		</button>
		<button ion-item (click)="gotoFriendNewPage()">
			<ion-icon name="person-add" item-left></ion-icon>
			好友请求
		</button>
	</ion-list>

	<ion-list *ngIf="list.length">
		<button  ion-item detail-none *ngFor="let item of list" (click)="gotoUserDetailPage(item._id)">
			<ion-thumbnail item-left>
	           <img [src]="item.avatarSrc">
	        </ion-thumbnail>
	        <h2>{{item.nickname}}</h2>
		</button>
	</ion-list>
</ion-content>
