cy-mod-avatar-page{
	.img-box{
		position: relative;
		width:100%;
		height: 100%;
		background-color: #222;

		img{
			position: relative;
			top:50%;
			transform:translateY(-58%);
			width:100%;
		}
	}
}
