cy-me-page {
  .info {
    .nickname {
      font-size: 1.8rem;
      margin-right: 8px;
    }
    .username{
      margin-top: 5px;
      font-size: 1.3rem;
    }


    ion-icon{
        font-size: 14px;
    }
  }
}
